.navbar
    box-shadow: 1px 3px 10px 1px #C0C9CC
    background-color: white
    .logo
        display: flex
        justify-content: flex-start
        align-items: center
        p
            margin: 0 !important
            color: #24AACE
            font-size: 1.5rem
            font-weight: bold
        .navbar-img
            img
                width: 70%
    .nav-link
        color: black
    .nav-link:hover
        color: #24AACE
    span
        background-color: #F7931E
        padding: 0.4rem 0.8rem
        border-radius: 10px
        color: white
    span:hover
        background-color: #24AACE

.collapse.navbar-collapse
    justify-content: flex-end
.nav-item
    padding: 0 1.5rem
