.content_section1{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/images/bg_section1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.content_section2{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/images/bg_section2.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 120%; 
}
    
.content_section3{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/images/bg_section3.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
@media (max-width: 575.98px){
    .content_section1, .content_section2, .content_section3{
        background-size: cover;
    }
    .content_section2{
        height: 100vh;
    }
}
    
    