.container
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
.content_list
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    ul
        list-style: none
        padding: 0
        margin: 0
    li
        display: flex
        padding-bottom: 1.5rem
    span
        color: #24AACE
        font-weight: bold
        font-size: 2.5rem
        margin-right: 1rem
        position: relative
        top: -.8rem
    .content_info
        h4
            color: #F7931E
            text-transform: uppercase
            font-weight: bold
        p
            color: #4D4D4D
            width: 70%
.content_img
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    img
        width: 110%