.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 568px){
    .container{
        height: 100vh;
    }
}
.content_list{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 568px){
    .content_list{
        height: auto;
        padding: 0 1rem;
    }
}
.content_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.content_list li{
    display: flex;
    padding-bottom: 1.5rem;
}
@media (max-width: 568px){
    .content_list li{
        padding-bottom: 0;
    }
}
.content_list span{
    color: #24AACE;
    font-family: "Lulo-Clean-Bold";
    font-size: 2.5rem;
    margin-right: 1rem;
    position: relative;
    top: -.8rem;
}
@media (max-width: 568px){
    .content_list span{
        font-size: 2rem;
        top: -.6rem;
        width: 28%;
    }
}
.content_list .content_info h4{
    color: #F7931E;
    font-family: "Lulo-Clean-Bold";
}
@media (max-width: 568px){
    .content_list .content_info h4{
        font-size: 1.1rem;
    }
}
.content_list .content_info p{
    color: #4D4D4D;
    font-family: "Montserrat";
    width: 80%;
}
@media (max-width: 568px){
    .content_list .content_info p{
        width: 100%;
    }
}

.content_img{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 568px){
    .content_img{
        height: 45vh;
    }
}
.content_img img {
    width: 110%;
}

@media (max-width: 568px){
    .content_img img{
        width: 90%;
    }
}
    