<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="content_list">
                <ul>
                    <li>
                        <span>01</span>
                        <div class="content_info">
                            <h4>Rápido</h4>
                            <p>Nuestro software genera tus documentos automáticamente</p>
                        </div>
                    </li>
                    <li>
                        <span>02</span>
                        <div class="content_info">
                            <h4>Seguro</h4>
                            <p>Todos nuestros documentos están avalados
                                por expertos en la materia</p>
                        </div>
                    </li>
                    <li>
                        <span>03</span>
                        <div class="content_info">
                            <h4>Acompañamiento</h4>
                            <p>Asesores disponibles para ti y expertos que
                                te acompañan en cada proceso</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="content_img">
                <img src="../assets/images/section2.png" alt="">
            </div>
        </div>
    </div>
</div>
