<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="content_title">
                <h4>El administrador de documentos más eficiente</h4>
            </div>
           <div class="content_first">
            <ul>
                <li>
                    <span>01</span>
                    <div class="content_info">
                        <h5>AUTOMATIZA TUS PRODUCTOS</h5>
                        <p>Programálos sin necesidad de código utilizando nuestras etiquetas prediseñadas</p>
                    </div>
                </li>
            </ul>
           </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="content_img">
                <img src="../assets/images/section3.png" alt="">
            </div>
        </div>
    </div>
</div>