.container
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    .content_title
        h2 
            color: #F7931E
            text-transform: uppercase
            font-weight: bold
        @media (max-width: 575.98px)
            h2
                font-size: 1.5rem
    .content_first
        padding: 1rem 0
        ul
            list-style: none
            margin: 0
            padding: 0
        li
            display: flex
            align-items: flex-start
        span
            background-color: #24AACE
            padding: .2rem .5rem
            border-radius: 5px
            font-size: 1.5rem
            color: white
            font-weight: bold
            @media (max-width: 575.98px)
                font-size: 1.2rem

        .content_info
            padding-left: 1rem
            h5
                color: #062763
                font-weight: bold
                @media (max-width: 575.98px)
                    font-size: 1.1rem
            p
                color: #4D4D4D
    .content_img
        margin: auto
        width: 80%
        img
            width: 100%